* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Montserrat", sans-serif;
    overflow-x: hidden;
}


.container {
    width: 90%;
    margin: 0 auto;
}

body.light {
  background: #ffffff;
  color: #222;
  transition: 1s ease-in-out;
}


body.dark {
  background: #121212;
  color: #f1f1f1;
}

.hidden {
    opacity: 0;
    transform: translateY(40px);  
    transition: all 0.8s ease-out; 
}

.hidden.show {
    opacity: 1;
    transform: translateY(0);
}

.hero {
    margin-top: 4rem;
}

.security {
    padding: 10px;
    margin-top: 1rem;
    border-radius: 8px;
    border-top-right-radius: 0;
    border-bottom-right-radius: 6px;
    padding-bottom: 2rem;
}

/* body.dark .security {
    background-color: #121212;
} */

.security h1 {
    /* margin-left: 1.5rem; */
    margin-top: 2rem;
    font-weight: 300;
    font-size: 60px;
}

.security h1 span {
    color: blue;
}

#first p {
    /* margin-top: 23rem; */
    /* background-color: rgb(152, 136, 106); */
    border-radius: 15px;
    padding: 7px;
    width: 34%;
    color: #000;
}

body.dark #first p {
    color: #fff;
}

.security p {
    /* margin-left: 1.5rem; */
    margin-top: 2rem;
    width: 40%;
    font-size: 12px;
    line-height: 1.8;
}
.secure {
    display: flex;
    margin-top: 2rem;
    gap: 2%;
}

.secure-link a {
    text-decoration: none;
    color: #fff;
    background-color: blue;
    padding: 13px;
    border-radius: 20px;
    font-size: 14px;
}

body.dark .secure-link a {
    background-color: #000;
    box-shadow: 0 0 10px #515050;
}

.facilities a {
    text-decoration: none;
    color: #fff;
    background-color: blue;
    padding: 13px;
    border-radius: 20px;
    font-size: 14px;
}

body.dark .facilities a {
    border: 1px solid #fff;
    color: #fff;
}

.need p {
    width: 100%;
}

.request {
    margin-top: 2rem;
}

.request a {
    text-decoration: none;
    background-color: blue;
    padding: 13px;
    border-radius: 10px;
    font-size: 14px;
    color: #fff;
}

body.dark .request a {
    border: 1px solid #fff;
    color: #fff;
}

.enterprise {
    display: flex;
    margin-top: 2rem;
    gap: 3%;
}

.enter {
    padding: 10px;
    margin-top: 1rem;
    border-radius: 8px;
    display: block;
}

body.dark .enter {
    background-color: black;
}

.icon i {
    font-size: 24px;
    margin-top: 8px;
    color: blue;
    background-color: rgb(220, 220, 239);
    padding: 6px;
    border-radius: 6px;
}



.enter-text h3 {
    font-size: 13px;
    margin-top: 1rem;
    border-left: 2px solid blue;
    padding: .5rem;
}

.enter-text p {
    font-size: 12px;
    margin-top: 10px;
}

.procure {
    background-color: #fff;
    box-shadow: 0 0 10px rgb(163, 161, 161);
    padding: 10px;
    margin-top: 1rem;
    border-radius: 8px;   
    width: 70%;
    margin: 0 auto;
    padding-bottom: 2rem;
    position: absolute;
    z-index: 1;
    top: 250px;
    margin-left: 10rem;
    display: none;
}

body.dark .procure {
    background-color: #000;
    box-shadow: 0 0 10px #fff;
    color: #fff;
}

.pro p {
    margin-top: 10px;
}

.cont {
    display: flex;
    justify-content: space-between;
}

.close i {
    font-size: 25px;
    cursor: pointer;
}



@media(max-width: 800px) {
  
   .hero {
    display: block;
   }

   #first p {
    width: 75%;
    margin: 0;
    font-size: 12px;
   }

   body.dark .first p {
    color: #fff;
   }

   .security h1 {
    font-size: 22px;
    margin: 0;
    margin-top: 2rem;
   }

   .security p {
    margin: 0;
    margin-top: 1.5rem;
    font-size: 12px;
    width: 100%;
   }

   .security a {
    margin: 0;
   }

   .secure {
    display: block;
    margin: 0;
    margin-top: 1.5rem;
   }

   .secure-link a, .facilities a {
    font-size: 11px;
   }

   .facilities {
    margin: 0;
    margin-top: 2rem;
   }

   .request a {
    font-size: 11px;
   }

   .enterprise {
    margin: 0;
    margin-top: 4rem;
    display: block;
   }

   .icon i {
    margin: 0;
    margin-top: 3px;
   }

   .procure {
    top: 0;
    margin: 0 auto;
    justify-content: center;
    align-items: center;
    width: 90%;
    margin-left: 1rem;
    top: 180px;
   }

   .pro h3 {
    font-size: 15px;
   }

   .pro p {
    font-size: 11px;
   }
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes animateContent {
    to {
        opacity: 1;
    }
}

@keyframes shine {
  0% {
    background-position: 0 0;
  }
  100% {
    background-position: 40px 40px;
  }
}

@keyframes shine {
  0% { background-position: 0 0; }
  100% { background-position: 40px 40px; }
}

@keyframes slideInFromBotom {
    0% {
        transform: translateY(100%);
    }

    100% {
        transform: translateX(0);
    }
}

@property --angle {
  syntax: "<angle>";
  initial-value: 0deg;
  inherits: false;
}

@-webkit-keyframes rotate {
  to { --angle: 360deg; }
}

@keyframes rotate {
  to { --angle: 360deg; }
}

@keyframes spin {
  from {
    transform: rotate(360deg);
  }
  to {
    transform: rotate(360deg);
  }
}
